In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('spam.csv', encoding='ISO-8859-1')

In [18]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
747,spam,U are subscribed to the best Mobile Content Se...,NaN,NaN,NaN
4545,ham,Never try alone to take the weight of a tear t...,NaN,NaN,NaN
437,ham,How long does applebees fucking take,NaN,NaN,NaN
1666,ham,Guess who spent all last night phasing in and ...,NaN,NaN,NaN
5224,ham,\OH FUCK. JUSWOKE UP IN A BED ON A BOATIN THE ...,NaN,NaN,NaN

In [8]:
df.shape

(5572, 5)