In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('spam.csv', encoding='ISO-8859-1')

In [18]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
747,spam,U are subscribed to the best Mobile Content Se...,NaN,NaN,NaN
4545,ham,Never try alone to take the weight of a tear t...,NaN,NaN,NaN
437,ham,How long does applebees fucking take,NaN,NaN,NaN
1666,ham,Guess who spent all last night phasing in and ...,NaN,NaN,NaN
5224,ham,\OH FUCK. JUSWOKE UP IN A BED ON A BOATIN THE ...,NaN,NaN,NaN

## Data Cleaning

In [20]:
df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

In [21]:
df.sample(5)

        v1                                                 v2
794    ham  There generally isn't one. It's an uncountable...
5404   ham  Pls give her prometazine syrup. 5mls then  &lt...
4864   ham           I'm really sorry I lit your hair on fire
462   spam  UpgrdCentre Orange customer, you may now claim...
681    ham                     ÌÏ log off 4 wat. It's sdryb8i

In [22]:
# renaming cols

df.rename(columns={'v1':'target' , 'v2':'text'}, inplace=True)

In [23]:
df.sample(5)

     target                                               text
369     ham                    Cool, text me when you're ready
3774    ham  Hi! You just spoke to MANEESHA V. We'd like to...
4199    ham                            I will come tomorrow di
2419   spam  SMS SERVICES For your inclusive text credits p...
3939    ham                          Does daddy have a bb now.

In [25]:
from sklearn.preprocessing import LabelEncoder

encoder=LabelEncoder()

In [27]:
df['target']= encoder.fit_transform(df['target'])

In [28]:
df.sample(5)

      target                                               text
3459       0  I am back. Bit long cos of accident on a30. Ha...
4678       0               Sry da..jst nw only i came to home..
1627       1  You have been selected to stay in 1 of 250 top...
3743       0  Nobody names their penis a girls name this sto...
25         0  Just forced myself to eat a slice. I'm really ...